logs/
**/node_modules/
**/.DS_Store
**/__pycache__
*.aux
*.log
*.pickle
*.db
*.sql
*.rdb
*.pid
*.toc
*.out
*.so
*.egg
*.egg-info
*.code-workspace
.idea/
celerybeat-schedule                                                                     
.ipynb_checkpoints
**/venv/
**/env/
**/logs/
.env
